<div class="background"></div>
<div class="container">

  <div class="logo">
    <img src="../../../assets/logo-lightbg.png">
  </div>

  <div class="content">

    <div class="form-left">


      <img class="decor-img"  src="../../../assets/registerpet.png">

    </div>

    <div class="form-right">
      <h1>People will meet your pet now! Give us details about the little one.</h1>

      <mat-form-field appearance="outline" class="pet-name register-field">
        <mat-label>Name <i class="fa-solid fa-paw"></i></mat-label>
        <input class="input-new" [(ngModel)]="name" matInput placeholder="Your Pet's Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>


      <mat-form-field appearance="outline" class="pet-type register-field">
        <mat-label>Type <i class="fa-solid fa-cat"></i><i class="fa-solid fa-dog"></i></mat-label>
        <mat-select class="input-new" [(ngModel)]="type">
          <mat-option value="Cat">Cat</mat-option>
          <mat-option value="Dog">Dog</mat-option>
          <mat-option value="Bird">Bird</mat-option>
          <mat-option value="Rodent">Rodent</mat-option>
          <mat-option value="Reptile">Reptile</mat-option>
          <mat-option value="Fish">Fish</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="pet-breed register-field">
        <mat-label>Breed <i class="fa-solid fa-paw"></i></mat-label>
        <input class="input-new" [(ngModel)]="race" matInput placeholder="Your Pet's Breed">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="pet-color register-field">
        <mat-label>Color <i class="fa-solid fa-palette"></i></mat-label>
        <input class="input-new" [(ngModel)]="color" matInput placeholder="Gray,White,Black...">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width birth-date register-field" appearance="outline" >
        <mat-label>Birth Date <i class="fa-solid fa-cake-candles"></i></mat-label>
        <input class="input-new" [(ngModel)]="birthDate" matInput [matDatepicker]="picker" placeholder="6/20/2020">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="gender register-field">
        <mat-label>Gender<i class="fa-solid fa-mars-and-venus"></i></mat-label>
        <mat-select class="input-new" [(ngModel)]="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field class="example-full-width register-field" appearance="outline">
          <mat-label>Favourite Food <i class="fa-solid fa-carrot"></i></mat-label>
          <input class="input-new" [(ngModel)]="favouriteFood"  matInput #message maxlength="256" placeholder="My pet likes to eat carrots.">
          <mat-hint align="start"><strong>Every pet loves food!</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>


        <mat-form-field class="example-full-width register-field" appearance="outline">
          <mat-label>About <i class="fa-solid fa-paw"></i></mat-label>
          <input class="input-new" [(ngModel)]="description" matInput #message2 maxlength="256" placeholder="My pet likes to eat carrots.">
          <mat-hint align="start"><strong>Describe your pet!</strong> </mat-hint>
          <mat-hint align="end">{{message2.value.length}} / 256</mat-hint>
        </mat-form-field>

        <div class="neutered-radio">
              <span class="register-field">Is Neutered? </span>
              <mat-radio-group  [(ngModel)]="isNeutered" aria-label="Select an option">
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="Not yet">Not yet</mat-radio-button>
              </mat-radio-group>
        </div>

        <div class="profile-image register-field">
              <span>Select profile photo<i class="fa-solid fa-paw"></i></span>
              <div *ngIf="selectedProfilePhoto" id="post-preview">
                <img id="post-preview-image"/>
              </div>
              <button mat-button color="warn">
                <label for="photo-upload">
                  <input class="input-new"  #photoSelector (change)="onPhotoSelected(photoSelector)"
                         id="photo-upload" type="file" accept="image/*"/>
                  <mat-icon>insert_photo</mat-icon>
                </label>
              </button>
        </div>

      <div class="action-buttons">
        <button (click)="handlePetRegister()"  class="round-button" mat-raised-button color="accent" > Create pet profile </button>
      </div>


    </div>
    </div>


</div>

