#reply-box {
  /*width: 100%;*/
  width: 200px;
  height: 300px;
  overflow: auto;
  overflow-x: hidden;
  min-width: 400px;
  max-width: 600px;
  padding: 0 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#reply-action-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 3em 1fr;
  margin-top: 1em;
  direction: rtl;
}

input {
  padding: 1em 2em 1em 1em;
  border: 1px solid gray;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  direction: ltr;
}

/*.comment-container {*/
/*  display: flex;*/
/*}*/

.message-name {
  font-size: .9em;
}

.message {
  border-radius: 1em;
  background-color: gainsboro;
  padding: 1em;
  width: fit-content;

}

.creator-message-container {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  /*float:right;*/
}

.creator-message {
  background-color: var(--bold-pink-accent);
  color: white;
}

.message-container{
  width: 350px;
  /*display: flex;*/
}

.ng-star-inserted{
  width: 350px;
}

button{
  color: white;
  background-color: var(--bold-pink-accent);
}
mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 320px;
  height: 420px;
  /*width: 100%;*/
  /*height: 100%;*/
  /*min-height: inherit;*/
  /*max-height: inherit;*/
  /*background-color: red;*/
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),0px 24px 38px 3px rgba(0, 0, 0, 0.14),0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  color: rgba(0,0,0,.87);

}

@media screen and (max-width: 768px) {
  mat-dialog-container{
    overflow-x: hidden;
  }
  #reply-box {
    width: 250px;
    height: 300px;
    overflow-x: hidden;
    min-width: 200px;

  }
  .ng-star-inserted{
    width: 200px;
  }
  .message-container{
    width: 200px;
  }

}
