.background{
  background: linear-gradient(#9896F0,#FBC8D5);
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -10;
}

.container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}


.content {
  /*top: 100px;*/
  justify-content: space-evenly;
  height: fit-content;
  left:0px;
  margin-top: 19em;
  display: flex;
  /*flex-direction: column;*/
  flex-wrap: wrap;
  justify-items: center;
  padding-top: 2em;
}

.message{
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 4px ;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0;
  padding-top: 4em;
  height: 20em;

}

.message img{
  width: 200px;
  height: auto;
}

.text-adoptions{
  font-size: 21px;
  font-weight: 600;
  color: var(--bold-purple);
  padding-right: 1em;
}

@media screen and (max-width: 576px){
  .message img{
    width: 150px;
  }

}

.add-adoption {
  position: fixed;
  bottom: 2em;
  left: 1.5em;
  background-color: var(--gray-mauve);
  color: white;
  z-index: 100;
}
.add-adoption i{
  font-size:25px;
  color: white;
}
