<div class="background"></div>
<app-nav-bar></app-nav-bar>
<div class="container">


  <div class="message">
    <p class="text-adoptions">Those little furry friends needs a new lovely home. Give them all your love!</p>
    <img src="../../../assets/undraw_pet_adoption_-2-qkw.svg">
  </div>

  <button   mat-fab color="warn" class="add-adoption" matTooltip="Add adoption"><i class="fa-solid fa-paw"></i></button>


  <div class="content">


    <app-adoption-card></app-adoption-card>
    <app-adoption-card></app-adoption-card>
    <app-adoption-card></app-adoption-card>
    <app-adoption-card></app-adoption-card>
    <app-adoption-card></app-adoption-card>
    <app-adoption-card></app-adoption-card>
    <app-adoption-card></app-adoption-card>



  </div>


</div>



