<!--<div class="wrapper">-->
  <div class="container">

    <img src="{{baseUrl}}{{profilePicture}}"  class="profile-img">


    <div class="content">
      <div class="sub-content">
        <h1 (click)="goToProfile(userId)">{{firstName}} {{lastName}}</h1>
        <p> <i class="fa-solid fa-briefcase"></i> {{occupation}} </p>
        <span class="location"><i class="fa-solid fa-location-dot"></i> {{livingCity}}</span>
      </div>
      <div class="data">
        <div class="inner-data">
          <span><i class="fa-solid fa-cake-candles"></i> Age </span>
<!--          <p>{{calculateAge(birthDate)}}</p>-->
          <p>{{ageFromBirthDate(birthDate)}}</p>
        </div>
        <div class="inner-data">
          <span><i class="fa-solid fa-users"></i> Joined</span>
          <p>{{joinedDate}}</p>
        </div>
        <div class="inner-data">
          <span><i class="fa-solid fa-mars-and-venus"></i> Gender</span>
          <p>{{gender}}</p>
        </div>
      </div>

      <div class="button-container">
          <button class="round-button  message-button"  mat-raised-button  color="primary"><mat-icon> message</mat-icon>Message</button>
      </div>

      </div>
  </div>
<!--</div>-->
