<div class="pet-card">
  <div class="content-left">

      <img src="../../../assets/molly.jpg" >


  </div>
  <div class="content-right">

    <div class="name">Molly <i class="fa-solid fa-paw"></i> </div>

    <div class="general-details">

      <div class="grouped-item">
        <div class="grouped-item-description">Female</div>
        <div class="grouped-item-title">
          Gender <i class="fa-solid fa-mars-and-venus"></i>
        </div>
      </div>

      <div class="grouped-item">
        <div class="grouped-item-description">2</div>
        <div class="grouped-item-title">
          Age <i class="fa-solid fa-cake-candles"></i>
        </div>
      </div>

    </div>

  </div>
</div>
