<div class="pet-card">
  <div class="content-left">

      <img src="{{baseUrl}}{{picture}}" >

  </div>
  <div class="content-right">

    <div class="name" (click)="goToPet(petId)">{{name}}  <i class="fa-solid fa-paw"></i> </div>

    <div class="general-details">

      <div class="grouped-item">
        <div class="grouped-item-description">{{gender}}</div>
        <div class="grouped-item-title">
          Gender <i class="fa-solid fa-mars-and-venus"></i>
        </div>
      </div>

      <div class="grouped-item">
        <div class="grouped-item-description">{{ageFromBirthDate(birthDate)}}</div>
        <div class="grouped-item-title">
          Age <i class="fa-solid fa-cake-candles"></i>
        </div>
      </div>

    </div>

  </div>
</div>
