<div class="background"></div>
<div class="container">

  <div class="content">

    <div class="cover-part">

      <div class="profile"></div>

    </div>
    <div class="details">
      <div class="name">
        Matei Elena
        <div class="age">
          <mat-icon>cake</mat-icon>21
        </div>
      </div>



      <div class="knowledge" #tooltip="matTooltip"
           matTooltip="Studies and career">
          <div class="studies">
            <mat-icon>school</mat-icon>
            Universitatea din Bucuresti, Facultatea de Matematica si Informatica
          </div>

          <div class="occupation">
            <mat-icon>work</mat-icon>
            Student
          </div>

          <div class="work-place">
            <mat-icon> business</mat-icon>
            University
          </div>
      </div>

<!--      <div class="description">-->
<!--        uvgjhyyyyvkjtuffffffffffffffffffffffy-->
<!--      </div>-->


    </div>


  </div>

</div>
