<div class="background"></div>
<div class="container">

  <div class="content">

    <div class="cover-part">

      <div class="profile"></div>

    </div>

    <div class="details">
      <div class="name">
        Matei Elena
        <div class="age">
          <mat-icon>cake</mat-icon>21
        </div>
      </div>
      <div class="knowledge" >
        <div class="studies">
          <mat-icon>school</mat-icon>
          Universitatea din Bucuresti, Facultatea de Matematica si Informatica
        </div>
        <mat-divider inset vertical></mat-divider>
        <div class="occupation">
          <mat-icon>work</mat-icon>
          Student
        </div>
        <mat-divider inset vertical></mat-divider>
        <div class="work-place">
          <mat-icon> business</mat-icon>
          University
        </div>
      </div>
    </div>

    <div class="personal-details">
      <div class="city">
        <mat-icon>location_city</mat-icon>
        Bucuresti
      </div>
      <mat-divider inset vertical></mat-divider>
      <div class="birth-date">
        <mat-icon>cake</mat-icon>
        21 october 2000
      </div>
      <mat-divider inset vertical></mat-divider>
      <div class="pets">
        <mat-icon>pets</mat-icon>
        1
      </div>

    </div>

      <div class="description">
        uvgjhyyyyvkjtuffffffffffffffffffffffy
      </div>


    </div>


  </div>


