<div class="background">
  <div class="logo">
   <a [routerLink]="['/feed']"> <img src="../../../assets/logo-lightbg.png"></a>
  </div>
  <div class="profile-card">
    <div class="profile-image">
      <img src="../../../assets/molly.jpg" >
    </div>

    <div class="content">

      <div class="edit-profile" matTooltip="Edit profile" >
        <a [routerLink]="['/editProfile']"> <mat-icon>edit</mat-icon></a>
      </div>

      <div class="name">Molly Matei</div>
      <div class="occupation">
        <span>
          <mat-icon>work</mat-icon>
        </span>
        <span class="occupation-name details">
          Front-end Developer
        </span>

          <span>
            <mat-icon> business</mat-icon>
          </span>
          <span class="work-place details">
            Acasa la mini
          </span>

        <span>
            <mat-icon>school</mat-icon>
          </span>
        <span class="studies-place details">
            FMI Unibuc
          </span>


      </div>


      <div class="location-details">
        <span class="location-icon">
          <mat-icon> location_on</mat-icon>
        </span>
        <span class="living-location details">
          Bucuresti, Romania
        </span>

        <span class="home-icon">
          <mat-icon>home</mat-icon>
        </span>
        <span class="home-location details">
          Slatina, Romania
        </span>
      </div>

      <div class="grouped-details">
        <div class="grouped-item">
          <div class="grouped-item-description">2</div>
          <div class="grouped-item-title">Age</div>
        </div>

        <div class="grouped-item">
          <div class="grouped-item-description">20-6-2020</div>
          <div class="grouped-item-title">Birth Date</div>
        </div>

        <div class="grouped-item">
          <div class="grouped-item-description">123</div>
          <div class="grouped-item-title">Pets</div>
        </div>

      </div>

      <div class="about">

        <h2>About me</h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi aliquam euismod ipsum vitae sollicitudin. Praesent eleifend a diam ut commodo. Nulla viverra nisl purus, et molestie purus tincidunt sit amet. Ut vitae auctor elit, in suscipit dui. Curabitur volutpat erat sed rutrum consequat. Pellentesque cursus gravida lacus, ac viverra nibh hendrerit ut. Curabitur nec elementum sapien.
      </div>

      <button  [routerLink]="['/feed']" mat-fab color="warn" class="feed-button" matTooltip="Go to feed"><i class="fa-solid fa-table-columns"></i></button>

      <div class="buttons">

        <button class="round-button  message-button"  mat-raised-button  color="primary"><mat-icon> message</mat-icon>Message</button>
        <a [routerLink]="['/petProfile']"> <button  class="round-button pets-button" mat-raised-button color="accent" > <mat-icon>pets</mat-icon> Pets Profiles  </button></a>
      </div>
    </div>

<!--    <div class="profile-card-message js-message">-->
<!--      <form class="profile-card-form">-->
<!--        <div class="profile-card-form__container">-->
<!--          <textarea placeholder="Say something..."></textarea>-->
<!--        </div>-->

<!--        <div class="profile-card-form__bottom">-->
<!--          <button class="profile-card__button button&#45;&#45;blue js-message-close">-->
<!--            Send-->
<!--          </button>-->

<!--          <button class="profile-card__button button&#45;&#45;gray js-message-close">-->
<!--            Cancel-->
<!--          </button>-->
<!--        </div>-->
<!--      </form>-->

<!--      <div class="profile-card__overlay js-message-close"></div>-->
<!--    </div>-->


  </div>


</div>

