<div class="background">

  <div class="logo">
    <a [routerLink]="['/feed']"> <img src="../../../assets/logo-lightbg.png"></a>
  </div>

  <button  [routerLink]="['/feed']" mat-fab color="warn" class="feed-button" matTooltip="Go to feed"><i class="fa-solid fa-table-columns"></i></button>


  <div class="pet-card">

      <div class="pet-profile-image">
        <img src="{{baseUrl}}{{picture}}" >

      </div>


      <div class="content">


        <div class="edit-profile" matTooltip="Edit profile" *ngIf="localStorageId == owner_Id">
          <a [routerLink]="['/editPetProfile/'+ this.petId]"> <mat-icon>edit</mat-icon></a>
        </div>


        <div class="name">{{name}} <i class="fa-solid fa-paw"></i> </div>

        <div class="general-details">
          <div class="grouped-item">
            <div class="grouped-item-description">{{type}}</div>
            <div class="grouped-item-title">
               Type
            </div>
          </div>

          <div class="grouped-item">
            <div class="grouped-item-description">{{race}}</div>
            <div class="grouped-item-title">Breed</div>
          </div>

          <div class="grouped-item">
            <div class="grouped-item-description">{{color}}</div>
            <div class="grouped-item-title">Color</div>
          </div>

          <div class="grouped-item">
            <div class="grouped-item-description">{{isNeutered}}</div>
            <div class="grouped-item-title">Neutered</div>
          </div>

          <div class="grouped-item">
            <div class="grouped-item-description">{{ageFromBirthDate(birthDate)}}</div>
            <div class="grouped-item-title">Age</div>
          </div>
          <div class="grouped-item">
            <div class="grouped-item-description">{{gender}}</div>
            <div class="grouped-item-title">
              Gender
            </div>
          </div>
          <div class="grouped-item">
            <div class="grouped-item-description">{{birthDate}}</div>
            <div class="grouped-item-title">Birth Date</div>
          </div>
          <div class="grouped-item">

            <div class="grouped-item-description" (click)="goToOwner(this.owner_Id)">{{ownerName}}</div>
            <div class="grouped-item-title">Owner</div>
          </div>

        </div>

        <div class="more">
          <div class="food">
            <span>Favourite food <i class="fa-solid fa-utensils"></i></span>
            <div class="food-list">
                {{favouriteFood}}
            </div>
          </div>

        </div>

        <div class="about">
          <div class="description-container">
          <span class="details">
            Pet Description <i class="fa-solid fa-paw"></i>
          </span>
          <div class="description">
<!--            Molly is a very cute cat, with big sparkly eyes and a fluffy white tummy. She really likes to scratch her owners, but she loves them tho. Molly has a lot of toys, but she likes better plastic and paper bags and big boxes to sleep in them.-->
              {{description}}
          </div>
          </div>
        </div>
      </div>

</div>
</div>
