<div class="background">

  <div class="logo">
    <a [routerLink]="['/feed']"> <img src="../../../assets/logo-lightbg.png"></a>
  </div>

  <button  [routerLink]="['/feed']" mat-fab color="warn" class="feed-button" matTooltip="Go to feed"><i class="fa-solid fa-table-columns"></i></button>


  <div class="pet-card">

      <div class="pet-profile-image">
        <img src="../../../assets/molly.jpg" >

      </div>


      <div class="content">


        <div class="edit-profile" matTooltip="Edit profile" >
          <a [routerLink]="['/editPetProfile']"> <mat-icon>edit</mat-icon></a>
        </div>


        <div class="name">Molly <i class="fa-solid fa-paw"></i> </div>

        <div class="general-details">
          <div class="grouped-item">
            <div class="grouped-item-description">Cat</div>
            <div class="grouped-item-title">
               Type
            </div>
          </div>

          <div class="grouped-item">
            <div class="grouped-item-description">European shorthair</div>
            <div class="grouped-item-title">Breed</div>
          </div>

          <div class="grouped-item">
            <div class="grouped-item-description">Tiger</div>
            <div class="grouped-item-title">Color <!--<i class="fa-solid fa-palette"></i>--></div>
          </div>

          <div class="grouped-item">
            <div class="grouped-item-description">Yes</div>
            <div class="grouped-item-title">Neutered</div>
          </div>

          <div class="grouped-item">
            <div class="grouped-item-description">2</div>
            <div class="grouped-item-title">Age</div>
          </div>
          <div class="grouped-item">
<!--            <div class="grouped-item-description"><i class="fa-solid fa-mars"></i></div>-->
            <div class="grouped-item-description"><i class="fa-solid fa-venus"></i></div>
            <div class="grouped-item-title">
              Gender
            </div>
          </div>
          <div class="grouped-item">
            <div class="grouped-item-description">20-06-2020</div>
            <div class="grouped-item-title">Birth Date</div>
          </div>
          <div class="grouped-item">
            <a [routerLink]="['/profile']">
            <div class="grouped-item-description">Elena Matei</div></a>
            <div class="grouped-item-title">Owner</div>
          </div>

        </div>

        <div class="more">
          <div class="food">
            <span>Favourite food <i class="fa-solid fa-utensils"></i></span>
            <div class="food-list">
                  Felix, Schesir , Jelly food  mbngm,kgmbfngbfmk,dlfnbgfnmd,ldfngbfmk,dlfgbfnmgbhnjk
            </div>
          </div>

        </div>

        <div class="about">
          <div class="description-container">
          <span class="details">
            Pet Description <i class="fa-solid fa-paw"></i>
          </span>
          <div class="description">
            Molly is a very cute cat, with big sparkly eyes and a fluffy white tummy. She really likes to scratch her owners, but she loves them tho. Molly has a lot of toys, but she likes better plastic and paper bags and big boxes to sleep in them.
          </div>
          </div>
        </div>


      </div>




</div>
</div>
