.background{
 /*background: linear-gradient(107deg, var(--light-fucsia) 0%, var(--mustard-color) 29%, var(--mint) 100%) no-repeat;*/
  background: linear-gradient(#9896F0,#FBC8D5);
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  padding: 50px 20px;
  padding-top: 100px;
  display: flex;
  overflow-x: hidden;
  /*position: fixed;*/
  /*top: 0px;*/
  /*left: 0px;*/
  /*bottom: 0px;*/
  /*z-index: -10;*/
}
@media screen and (max-width: 768px) {
  .background{
    overflow-x: hidden;
  }
}

.pet-card {
  width: 100%;
  min-height: 460px;
  margin: auto;
  background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow: 0 8px 32px 0 var(--dark-blue);
  border-radius: 4px;
  max-width: 700px;
  position: relative;

}
.pet-profile-image{
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px var(--bold-purple), 0px 0px 0px 7px var(--gray-mauve);
  /*box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;*/
  /*background-image: url("../../../assets/molly.jpg");*/
  /*box-shadow: purple 0px -50px 36px -28px inset;*/
}
@media screen and (max-width: 576px) {
  .profile-image {
    width: 120px;
    height: 120px;
  }
}
.pet-profile-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  /*box-shadow: red 0px -50px 36px -28px inset;*/
}
.content {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  /*padding-top: 0;*/
  transition: all 0.3s;
}

.logo{
  position: fixed;
}
.logo img{
  position: fixed;
  top: 32px;
  left: 32px;
  width: 12em;
  height: 4em;
}
@media screen and (max-width: 376px) {

  .logo img{
    position: fixed;
    top: 9px;
    left: 12px;
    width: 6em;
    height: 2em;
  }
}
@media screen and (min-width: 389px) and (max-width: 420px) {

  .logo img{
    position: fixed;
    top: 9px;
    left: 12px;
    width: 6em;
    height: 2em;
  }
}
.edit-profile{
  position: absolute;
  top: 1em;
  left: 93%;
}
@media screen and (max-width: 900px){
  .edit-profile{
    position: absolute;
    top: 1em;
    left: 88%;
  }
}

.name {
  font-weight: 700;
  font-size: 24px;
  color: var(--bold-purple);
  margin-bottom: 15px;
  /*padding-bottom: 1em; pune scroll si nu stiu dc*/
}

i{
  color: yellow;
}

.feed-button {
  position: fixed;
  bottom: 2em;
  left: 1.5em;
  background-color: var(--gray-mauve);
  color: white;
  z-index: 100;
}
.feed-button i{
  font-size:25px;
  color: white;
}

.general-details i{
  color:var(--profile-text-color);
}
.grouped-item-title i{
  color: var(--bold-purple);
}

.general-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.grouped-item{
  padding: 10px 35px;
  min-width: 150px;
}
.grouped-item:hover .grouped-item-title{
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .grouped-item{
    padding: 10px 20px;
    min-width: 120px;
  }
}
.grouped-item-description {
  font-weight: 700;
  font-size: 24px;
  color:var(--profile-text-color);
}
.grouped-item-title {
  font-weight: 500;
  margin-top: 7px;
  color: var(--bold-purple);
  font-size: 18px;
}
.more{
  position:relative;
  background-color: rgba(152,111,189,0.4);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  /*overflow-wrap: break-word;*/
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 15px 30px 10px 15px;
  /*-webkit-clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);*/
  clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);
}
.more span{
  font-weight: 700;
  font-size: 24px;
  color:var(--profile-text-color);
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.food-list{
  /*font-family: 'Indie Flower', cursive;*/
  font-size: larger;
  font-weight: bolder;
  color: var(--bold-purple);
  /*padding: 10px;*/
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
  overflow-wrap: break-word;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .food-list{
    inline-size: 200px;
  }
}
.food{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.about{
  position:relative;
  background-color: rgba(152,111,189,0.4);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  padding: 15px 30px 10px 15px;
  clip-path: polygon(100% 0, 86% 100%, 0 100%, 0 0);
}
.details{
  font-weight: 700;
  font-size: 24px;
  color:var(--profile-text-color);
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}
.description{
  /*font-family: 'Indie Flower', cursive;*/
  font-size: larger;
  font-weight: bolder;
  color: var(--bold-purple);
  /*padding: 10px;*/
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
  overflow-wrap: break-word;
  margin: 0 auto;
  inline-size: 450px;
}
@media screen and (max-width: 768px) {
  .description{
    inline-size: 200px;
  }
}
.description-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
a{
  text-decoration: none;
}


