<div class="background"></div>
<app-nav-bar></app-nav-bar>
  <div id="post-feed">


    <!-- reusable component "post" -->
<!--    <app-post *ngFor="let post of posts" [postData]="post"></app-post>-->
  </div>

  <button mat-fab color="warn" class="post-button" matTooltip="New post"><mat-icon>add</mat-icon></button>


      <button mat-fab  class="settings-button"  matTooltip="Settings"><mat-icon>settings</mat-icon></button>
<!--      <a [routerLink]="['/petProfile']"> <button mat-fab  class="redirect-pet"  matTooltip="Pet Profile"><mat-icon>pets</mat-icon></button> </a>-->
<!--      <a [routerLink]="['/editProfile']"> <button mat-fab  class="edit-profile"  matTooltip="Edit Profile"><mat-icon>edit</mat-icon></button> </a>-->



