.background{
  background-image: url("src/assets/color-ge36d913ad_1920.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: -10;
}
.post-button {
  position: fixed;
  bottom: 2em;
  right: 1.5em;
  background-color: var(--gray-mauve);
  color: white;
}


.pet-button {
  position: fixed;
  bottom: 2em;
  left: 1.5em;
  background-color: var(--gray-mauve);
  color: white;
  z-index: 100;
}
.pet-button i{
  font-size:25px;
  color: white;
}


#post-feed{
  max-width: 500px;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}
.logo{
  position: fixed;
}
.logo img{
  position: fixed;
  top: 32px;
  left: 32px;
  width: 12em;
  height: 4em;
}
