<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/feed']">
      <img src="../../../assets/logo-lightbg.png" alt="" width="120" height="42">
    </a>
    <button class="navbar-toggler" type="button" (click)="showCollapse()" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup"  [ngClass]="{'showMenu' : showToast}">
      <div class="navbar-nav">
        <a class="nav-link active"[routerLink]="['/profile']">Profile <i class="fa-solid fa-user"></i></a>
        <a class="nav-link active" [routerLink]="['/myPets']" >Pets <i class="fa-solid fa-paw"></i></a>
        <a class="nav-link active" [routerLink]="['/adoptions']">Adoptions <i class="fa-solid fa-paw"></i></a>
        <a class="nav-link active" [routerLink]="['/allUsers']">Users <i class="fa-solid fa-user"></i></a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle clicked" (click)="showDrop()"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
            Edit
          </a>
          <ul class="dropdown-menu" [style.display]="dropIsVisible ? 'block' : 'none'" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="nav-link active" [routerLink]="['/editProfile']">Edit Profile</a></li>
            <li><a class="nav-link active" [routerLink]="['/myPets']">Edit Pets Profiles</a></li>
          </ul>
        </div>
        <a class="nav-link active birthdays" [routerLink]="['/birthdays']"><i class="fa-solid fa-cake-candles"></i></a>

        </div>


    </div>
  </div>
</nav>
