nav{
  background-color: var(--gray-mauve);

}
*{
  color: white;
}

/*.collapse:not(.show) {*/
/*  display: flex;*/
/*}*/
.showMenu{
  display: block;
  /*transition-duration: 2s;*/
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.nav-link {
  display: block;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
