
<nav class="navbar navbar-expand-lg navbar-dark  ">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/feed']">
      <img src="../../../assets/logo-lightbg.png" alt="" width="120" height="42">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " [routerLink]="['/profile']" >Profile <i class="fa-solid fa-user"></i></a>
        <a class="nav-link" [routerLink]="['/editProfile']">Edit Profile</a>
        <a class="nav-link" >Pets <i class="fa-solid fa-paw"></i></a>
        <a class="nav-link ">Edit Pets Profiles</a>
      </div>
    </div>
  </div>
</nav>
