nav{
  background-color: var(--gray-mauve-opaque);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
*{
  color: var(--light-pink);
  font-size: 16px;
  /*font-weight: 500;*/

}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: var(--light-pink);
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--light-pink);
  padding: 8px;
  padding-bottom: 0;
}

.showMenu{
  display: block;
  /*transition-duration: 2s;*/
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.nav-link {
  display: block;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.dropdown-menu {

  background-color: var(--gray-mauve-opaque);
  margin: 0px;

}
@media screen and (min-width: 1280px) {
  .birthdays {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  a .logout{
    float: right;

  }
}
