<div class="background"></div>
<div class="container">
  <div class="logo">
    <img src="../../../assets/logo-lightbg.png">
  </div>
  <div class="content">
    <div class="form-left">
      <h1>Register</h1>
      <mat-form-field appearance="outline" class="first-name register-field">
        <mat-label>First Name</mat-label>
        <input [(ngModel)]="firstName" matInput placeholder="Your First Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="last-name register-field">
        <mat-label>Last Name</mat-label>
        <input [(ngModel)]="lastName" matInput placeholder="Your Last Name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="email register-field">
        <mat-label>Enter your email</mat-label>
        <input matInput [(ngModel)]="email" placeholder="socialmedia@example.com"  required>
<!--        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>-->
      </mat-form-field>
      <mat-form-field appearance="outline" class="password register-field">
        <mat-label>Enter password</mat-label>
        <input matInput [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" class="gender register-field">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="None">None</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width birth-date register-field" appearance="outline" >
        <mat-label>Birth Date</mat-label>
        <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div class="action-buttons" (click)="openSnackBar('Your accound has been created!', 'Ok')">
        <button (click)="handleRegister()"  class="round-button" mat-raised-button  color="primary">Create account</button>
        <a [routerLink]="['/login']"> <button  class="round-button" mat-raised-button color="accent" > Login here! </button></a>
        <!-- <button (click)="goToLogin()" > Login here! </button> -->
      </div>
    </div>

    <div class="form-right">
      <img src="../../../assets/png3.png">
    </div>
  </div>

</div>
