<div class="background"></div>
<app-nav-bar></app-nav-bar>
<div class="container">

<!--<div class="small-container">-->
  <div class="message">
    <p class="text-users">Don't have that much friends? Meet new people and tell them your story.</p>
    <img src="../../../assets/undraw_buddies_i0fa.svg">
  </div>

  <div class="content">

    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>
    <app-profile-card></app-profile-card>


  </div>
<!--  </div>-->

</div>

