.profile-image {
  width: 50px;
  height: 50px;
  margin-left: 1em;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 2.5px 25px 0px var(--bold-purple), 0px 0px 0px 3.5px var(--mauve-pink-tr);
}
.profile-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.age{
  color: var(--profile-text-color);
  font-size: 16px;
}
.name{
  color: var(--bold-purple);
  font-size: 19px;
  font-weight: 500;
}
a{
  text-decoration: none;
}
.details{
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  padding: 5px;
}
.birthday-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding:5px;
  justify-content: flex-start;
  margin: 5px;
}

