<div class="background"></div>
<div class="container">
  <div class="content">
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />

    <div class="carousel">
      <div class="item">
        <div class="text">
          Meet people!
        </div>
      </div>
      <div class="item">
        <div class="text">
              Keep in touch with your friends!
        </div>
      </div>
      <div class="item">
        <div class="text">
              Socialize more!
        </div>
      </div>
      <div class="item">
        <div class="text">
            Make new friends!
        </div>
      </div>
      <div class="item">
        <div class="text">
            Show us your pets also!
        </div>
      </div>
    </div>

  </div>

  <div class="small-container">
    hgbsdhbs
  </div>
</div>

