<div class="background"></div>
<app-nav-bar></app-nav-bar>
<div class="container">

  <div class="content">
    <div class="illustrations">

      <div class="filter-row">Find your pets by type:</div>
      <img matTooltip="Cats" src="../../../assets/DrawKit Vector Illustration Animal & Pets (9).png" />
      <img matTooltip="Dogs" src="../../../assets/DrawKit Vector Illustration Animal & Pets (3).png" />
      <img matTooltip="Rodens" src="../../../assets/DrawKit Vector Illustration Animal & Pets (6).png"/>
      <img matTooltip="Birds" src="../../../assets/DrawKit Vector Illustration Animal & Pets (1).png"/>
      <img matTooltip="Fish" src="../../../assets/DrawKit Vector Illustration Animal & Pets (4).png"/>
      <img matTooltip="Reptiles" src="../../../assets/DrawKit Vector Illustration Animal & Pets (25).png" />

    </div>

    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>


  </div>

</div>
