<div class="background"></div>
<app-nav-bar></app-nav-bar>
<div class="container">

  <div class="content">
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>
    <app-my-pets-list-card></app-my-pets-list-card>


  </div>

</div>
