*{
  margin: 0;
  padding: 0;
  color: var(--profile-text-color);
}
.wrapper{
  position: absolute;
  /*top: 50%;*/
  /*left: 50%;*/
  transform: translate(-50%,-50%);
}

.container{
  width: 280px;
  height: 450px;
  background: var(--light-pink);
  position: relative;
  border-radius: 4px;
  /*box-shadow: var(--dark-blue) 0px 19px 38px, var(--dark-blue) 0px 15px 12px;*/
  box-shadow: 0 8px 32px 0 var(--dark-blue);
  transition-duration: 1.5s;
  margin: 10px;
  margin-top: 60px;
  margin-bottom: 30px;
}


.container:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container .profile-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  /*top: -65px;*/
  /*left: 85px;*/
  border: 5px solid var(--bold-purple);
  transform: translateY(-50%) translateX(90%);

}

.content{
  padding: 65px 20px 20px;
}

.content .sub-content{
  text-align: center;

}

.content .sub-content h1{
  font-size: 24px;
  color: var(--bold-purple);
}

.content .sub-content span{
  font-size: 14px;
  color: #494949;
}

.content .sub-content p{
  font-size: 18px;
  margin-top: 15px;
  font-weight: 600;
}

.content .sub-content span.location{
  display: block;
  margin: 5px 0 20px;
}

.content .sub-content span.location .fa{
  font-size: 18px;
  margin-right: 5px;
}

.data{
  width: 100%;
  overflow: hidden;
  margin: 30px 0 20px;
}

.inner-data{
  width: 33.3%;
  float: left;
  text-align: center;
  font-weight: 500;
}

.inner-data span i{
  font-size: 24px;
  color: var(--bold-purple);
}
.inner-data span{
  color: var(--bold-purple);

}

h1{
  font-weight: 700;
  font-size: 24px;
  color: var(--bold-purple);
  margin-bottom: 15px;
}

.button-container{
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}
.round-button {
  color: white;
  border-radius: 24px;
  backface-visibility: hidden;
  transition: all 0.3s;
  margin: 1.5em;
  padding-right: 10px;
  padding-left: 10px;

}
mat-icon{
  color: white;
}

@media screen and (max-width: 576px) {
  .round-button {
    min-width: inherit;
    margin-top: 0;
    /*margin-bottom: 16px;*/
    max-width: 120px;
    /*height: ;*/
  }

}
.round-button:focus {
  outline: none !important;
}

@media screen and (min-width: 768px) {
  .round-button:hover {
    transform: translateY(-5px);
  }
}
@media screen and (max-width: 576px) {
  .container{
    width: 200px;
    height: 410px;
  }
  .container .profile-img{
    width: 80px;
    height: 80px;
    transform: translateX(80%) translateY(-50%);
  }
  .content{
    padding: 45px 10px 10px;
  }
  .content .sub-content h1{
    font-size: 20px;
  }
  .content .sub-content span{
    font-size: 11px;
  }
  .content .sub-content p{
    font-size: 14px;
    margin-top: 12px;
  }
  .content .sub-content span.location .fa{
    font-size: 14px;
  }
  .data{
    margin: 10px 0 0;
  }
  .inner-data span i{
    font-size: 18px;
    margin-bottom: 3.5px;
  }
  h1{
    font-size: 20px;
    margin-bottom: 10px;
  }

}

.adoption-h{
  color: var(--bold-purple);
  font-weight: 600;

}
.details{
  font-weight: 500;
  text-align: center;
}

