<div class="container">

  <img src="{{baseUrl}}{{picture}}"  class="profile-img">


  <div class="content">
    <div class="sub-content">
      <h1>{{name}}</h1>
      <p> <i class="fa-solid fa-paw"></i> {{race}} </p>
    </div>
    <div class="data">
      <div class="inner-data">
        <span><i class="fa-solid fa-cake-candles"></i> Age </span>
        <p>{{ageFromBirthDate(birthDate)}}</p>
      </div>
      <div class="inner-data">
        <span><i class="fa-solid fa-mars-and-venus"></i> Gender</span>
        <p>{{gender}}</p>
      </div>
      <div class="inner-data">
        <span><i class="fa-solid fa-palette"></i> Color</span>
        <p>{{color}}</p>
      </div>

    </div>
    <div class="details">
      <p> {{description}}</p>
      <p><i class="fa-solid fa-burger"></i>  {{favouriteFood}}</p>
      <span class="adoption-h">Adoption Human: </span>
      <span class="human" (click)="goToProfile(userId)" > {{firstName}} {{lastName}}</span>

    </div>

    <div class="button-container" *ngIf="userId!=myUserId">
      <button (click)="adopt(petId)" class="round-button  message-button"  mat-raised-button  color="accent"><i class="fa-solid fa-paw"></i> Adopt</button>
      <button (click)="onMessageClick(userId)" class="round-button  message-button"  mat-raised-button  color="primary"><mat-icon> message</mat-icon>Message</button>
    </div>

  </div>
</div>
