.action{
  margin-left: .5em;
  cursor: pointer;
  padding:.2em;
}
.post-card{
  padding: 1em;
}
.action-item-fav:hover{
  color: tomato;
}
.action-item-rep:hover{
  color: greenyellow;
}
.action-item-save:hover{
  color: darkturquoise;
}
.clicked{
  color:tomato;
}
