/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
  --light-pink: rgb(217,199,220);
  --dark-blue: #394F93;
  --bright-blue: #25abe8;
  --semi-dark-blue:#3F51B5;
  --gray-mauve:rgba(102,104,188,0.7);
  --grayish:rgba(187,175,222,0.7);
  --bold-purple:#6944ff;
  --mauve-pink-tr: rgba(172,50,199,0.4);
  --profile-text-color:#324e63;
  --green-gray:rgb(95,158,160);
  --green-gray-lighter:rgb(140,186,187);
  --mint:#C1E1C1;
  --mustard-color:rgba(189,162,121,1);
  --light-fucsia:rgba(152,111,189,1);
  --pet-profile-card:#A4CDA4;
}
